<div class="animated">
    <section class="container-fluid text-center">
        <div>
            <img src="assets/d.jpg" class="img-fluid mx-auto">
        </div>
    </section>


    <section class="pt-4 w-75" style="margin: auto;">
        <h3 class="text-center text-danger xl:text-2xl text-lg my-4"><b>Donate to PM CARES Fund </b></h3>
        <div class="row container-fluid border">
            <div class="col-lg-6 pt-3 text-center">
                <img src="assets/f.jpg" class="img-fluid">
            </div>
            <div class="col-lg-4 pt-3 text-center">
                <img src="assets/e.jpeg" class="img-fluid rounded-lg" id="image3">
            </div>
        </div>
    </section>
</div>

<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>