
/* animation - float up all elements */

.animated{
    animation: transitionIn 0.75s;
  }
  @keyframes transitionIn{
    from{
      opacity: 0;
      transform: translateY(20px);
    } 
    to{
      opacity: 1;
      transform: translateY(0px);
    }
  }

  @media only screen and (max-width: 600px) {
    #zone-heading{
      font-size: medium;
      width: 100%;
    }
    #zone-count{
      font-size: small;
    }
    section{
      width: 100%;
    }
  }