<div class="animated">
    <section class="pt-4 mx-auto xl:px-16 mb-8 px-2">
        <div class="row container-fluid no-gutters mx-auto">
            <div class="col-lg-6 pl-3">
                <img src="assets/whatiscovid.jpg" class="img-fluid">
            </div>
            <div class="col-lg-6 pl-3 rounded-lg">
                <h3 class="text-danger pt-2 text-center text-2xl my-2">What is COVID-19?</h3>
                <p class="p-2">
                    COVID-19 is a disease caused by the “novel corona virus”.<br>
                    Most likely origin to a “wet market,” or live animal market, in Wuhan, China.<br>
                    Common symptoms are:<br>
                     Fever<br>
                     Dry cough<br>
                     Breathing difficulty<br>
                     Some patients also have aches and pains, nasal congestion, &nbsp;&nbsp;&nbsp;&nbsp;runny nose,
                    sore
                    throat or diarrhoea.<br>

                    <br>
                    About 80% of confirmed cases recover from the disease
                    without any serious complications. However, one out
                    of every six people who gets COVID-19 can become
                    seriously ill* and develop difficulty in breathing. In more
                    severe cases, infection can cause severe pneumonia
                    and other complications which can be treated only at
                    higher level facilities (District Hospitals and above). In a
                    few cases it may even cause death.
                </p>
            </div>
        </div>
    </section>

    <hr>
    <section class="text-gray-700 body-font">
        <div class="container px-5 py-16 mx-auto">
            <div class="flex flex-col text-center w-full mb-10">
                <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">COVID-19 Symptoms</h1>
                <p class="lg:w-2/3 mx-auto leading-relaxed text-base">COVID-19 affects different people in different
                    ways. Most infected people will develop mild to moderate illness and recover without
                    hospitalization.</p>
            </div>
            <div class="flex flex-wrap -m-4 text-center md:mx-32">
                <div class="p-4 md:w-1/3 sm:w-1/2 w-full">
                    <div class="border-2 border-gray-200 px-4 py-6 rounded-lg">
                        <img src="assets/fever.gif" class="w-24 h-24 mx-auto">
                        <p class="leading-relaxed text-xl mt-2">Fever</p>
                    </div>
                </div>
                <div class="p-4 md:w-1/3 sm:w-1/2 w-full">
                    <div class="border-2 border-gray-200 px-4 py-6 rounded-lg">
                        <img src="assets/cough.gif" class="w-24 h-24 mx-auto">
                        <p class="leading-relaxed text-xl mt-2">Dry Cough</p>
                    </div>
                </div>
                <div class="p-4 md:w-1/3 w-full">
                    <div class="border-2 border-gray-200 px-4 py-6 rounded-lg">
                        <img src="assets/tiredness.gif" class="w-24 h-24 mx-auto">
                        <p class="leading-relaxed text-xl mt-2">Tiredness</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr>
    <section class="text-gray-700 body-font">
        <div class="container px-5 py-16 mx-auto">
            <div class="flex flex-col text-center w-full mb-20">
                <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">COVID-19 Preventions</h1>
                <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Protect yourself and others around you by knowing
                    the facts and taking appropriate precautions. Follow advice provided by your local health authority.
                </p>
            </div>
            <div class="flex flex-wrap -m-2">
                <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
                    <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                        <img alt="team"
                            class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4"
                            src="assets/1.gif">
                        <div class="flex-grow">
                            <h2 class="text-gray-900 title-font font-medium">Wash your hands frequently</h2>
                        </div>
                    </div>
                </div>
                <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
                    <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                        <img alt="team"
                            class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4"
                            src="assets/2.gif">
                        <div class="flex-grow">
                            <h2 class="text-gray-900 title-font font-medium">Avoid touching your eyes, nose, and mouth
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
                    <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                        <img alt="team"
                            class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4"
                            src="assets/3.gif">
                        <div class="flex-grow">
                            <h2 class="text-gray-900 title-font font-medium">Cough and sneez into elbow.</h2>
                        </div>
                    </div>
                </div>
                <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
                    <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                        <img alt="team"
                            class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4"
                            src="assets/4.gif">
                        <div class="flex-grow">
                            <h2 class="text-gray-900 title-font font-medium">Avoid crowded places and contact with others</h2>
                        </div>
                    </div>
                </div>
                <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
                    <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                        <img alt="team"
                            class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4"
                            src="assets/5.gif">
                        <div class="flex-grow">
                            <h2 class="text-gray-900 title-font font-medium">Stay home if you feel unwell</h2>
                        </div>
                    </div>
                </div>
                <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
                    <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                        <img alt="team"
                            class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4"
                            src="assets/6.gif">
                        <div class="flex-grow">
                            <h2 class="text-gray-900 title-font font-medium">Get information from trusted sources (WHO)</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }"></ngx-loading>